<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>711782088349-frpcndvqi1vn0hc0sdlg0omae23k9snk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.711782088349-frpcndvqi1vn0hc0sdlg0omae23k9snk</string>
	<key>API_KEY</key>
	<string>AIzaSyBkM_Uyy1Mt2iNMIV4UKsjRRqIjueuN2MQ</string>
	<key>GCM_SENDER_ID</key>
	<string>711782088349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kurabiye</string>
	<key>PROJECT_ID</key>
	<string>cookie-70356</string>
	<key>STORAGE_BUCKET</key>
	<string>cookie-70356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711782088349:ios:31e1cc3ac617ebfce7de74</string>
</dict>
</plist>